/target/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.rlib
*.rmeta
*.a
*.o
*.obj
.DS_Store
Thumbs.db
.venv/
.venv*/
.env/
.envrc
.maturin/
*.egg-info/
.build/
/dist/
/wheelhouse/
*.whl
Cargo.lock
uv.lock
pyfixest
within
